body {
    font-family: Arial;
    font-size: 18px;
    background-color: lightgrey;
}

main {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 600px;
    line-height: 1.4;
    overflow-wrap: break-word;
    text-align: justify;
}

main article img,
main article video,
main article svg,
main article canvas {
    display: block;
    margin: 0.5em auto;
    max-width: 100%;
}

main article h1, 
main article h2, 
main article h3 {
    font-size: 1.5em;
    text-align: center;
}

main article p {
    margin-bottom: 0.75em 0;
}

main article pre {
    background-color: #fafafa;
    border: #4d4d4d solid 1px;
    border-radius: 3px;
    margin: 0 1em 0 1em;
    padding: 10px;
    overflow: auto;
    font-size: 0.9em;
    line-height: 1.1;
    font-family: monospace;
}

.page {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 2em 0;
    box-shadow: 1px 5px 15px;
}

header #nav {
    list-style: none;
    text-align: left;
}